body {
    background-image: url('image/heart-7757250_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #daee1f;
    color: white;
    padding: 1em 0;
    border-radius: 8px 8px 0 0;
}

.animated-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.animated-button:hover {
    background-color: #34a4d7;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#advice {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #f1f1f1;
    padding: 1em 0;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}